<section id="experience" class="experience-section">
  <h1 class="section-title">My Work Experience</h1>
  <div class="experience-card">
    <div class="timeline">2024 — Present</div>
    <div class="experience-info">
      <div class="role-title">
        Software Engineer II &#64; JP Morgan Chase & Co.
      </div>
      <div class="role-description">
        <p>I have recently started with this role.</p>
        <p>
          In this role I am learning new things and as this is a new domain for
          me, I am exploring new horizons.
        </p>
      </div>
      <ul role="list" class="tech-list">
        <li>TypeScript</li>
        <li>Angular</li>
        <li>.NET Core</li>
        <li>JavaScript</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>
  <div class="experience-card">
    <div class="timeline">2020 — 2024</div>
    <div class="experience-info">
      <div class="role-title">Full Stack Developer &#64; SLB</div>
      <ul class="role-description">
        <li>Developed responsive web applications with Angular.</li>
        <li>
          Contributed in application component restructuring for improving
          performance with dynamic data fetch.
        </li>
        <li>Developed complex UI designs with API integrations.</li>
        <li>Utilized NgRx for efficient state management in projects.</li>
        <li>
          Employed RxJS for effective data stream management in the project.
        </li>
      </ul>
      <ul role="list" class="tech-list">
        <li>TypeScript</li>
        <li>Angular</li>
        <li>.NET Core</li>
        <li>JavaScript</li>
        <li>Azure</li>
      </ul>
    </div>
  </div>
</section>
