.contact-section {
  min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 4rem;
  margin: 0 4rem;
  animation: fade-in linear;
  justify-content: center;
  // animation-timeline: view();
}

@keyframes fade-in {
  from {
    opacity: 0.1;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.contact-card {
  max-width: 30rem;
}

@media (max-width: 900px) {
  .contact-section {
    gap: 2rem;
    margin: 0 2rem;
  }
}

@media (max-width: 480px) {
  .contact-card {
    flex-direction: column;
    gap: 1rem;
  }

  .contact-section {
    margin: 0;
  }
}
