<section class="about-section" id="about">
  <!-- 👋 Hi I am Pravin, a full stack software engineer dedicated to crafting things
  for the web through coding. I wrote my first lines of code back in 2014 of
  HTML, CSS using just a notepad in a very low-end machine 😅 to create a html
  form and felt like I cracked something big I’m currently working with Angular,
  MongoDB, TypeScript, JavaScript, C#, .NET Core along with Azure cloud services
  to develop new thing -->
  <img
    ngSrc="/assets/about.jpg"
    width="250"
    height="450"
    class="hero-image"
    ngSrcset="100w, 200w, 300w"
    priority
  />
  <div class="about-text">
    <h1 class="about-title">About me</h1>

    <p>
      <span style="font-size: 2rem">👋</span> Hi, I'm Pravin, a
      <span>full stack software engineer</span>. My story with web development
      started long back in college when I tried to build a simple website<span
        style="font-size: 1.25rem"
        >💻</span
      >
      using HTML and CSS, see it come to life on a screen was exciting and
      ignited my passion for coding.
    </p>
    <p>
      Inspired by the endless possibilities of technology, I decided to dive
      deeper into computer engineering
      <span style="font-size: 1.5rem">🎓</span>, during engineering I learnt
      android and
      <span
        >built multiple <span style="font-size: 1.5rem">📱</span>android
        applications</span
      >
      as my side interest even freelanced few projects.
    </p>
    <p>
      After completing my graduation, I joined
      <span
        ><a href="https://www.slb.com" target="_blank" class="hyperlink"
          >SLB <span style="font-size: 1.25rem">🏢</span></a
        ></span
      >
      where I got opportunity to explore web development. I developed my
      expertise in
      <span> Angular, JavaScript, TypeScript, .NET Core </span
      ><span style="font-size: 1.25rem">👨🏻‍💻</span>which I used to contribute in
      our project in SLB.
    </p>
    <p>
      Throughout my journey, I've faced numerous challenges<span
        style="font-size: 1.5rem"
        >🏋️</span
      >, from debugging stubborn code to staying updated with the latest
      technologies. However, each obstacle has only strengthened my
      determination and skills🎖️. I keep exploring and learning new things
      everyday 📆 .
    </p>
  </div>
</section>
