@import "../../../../styles.scss";

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: $clr-neutral-900;
  text-decoration: none;
}
