@import "../../../../styles.scss";

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: $clr-neutral-900;
  text-decoration: none;
}

.close-btn {
  height: 2rem;
  width: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

@media (max-width: 800px) {
  .nav-bar {
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background: #9f66d3f2;
    display: flex;
    flex-flow: column;
    gap: 3rem;
  }
}
