@import "../../../styles.scss";

.hero-section {
  padding: 4rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  gap: 6rem;
}

.hero-image {
  border-radius: 50%;
  margin: 1rem;
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

.hero-content {
  margin: 1rem;
  animation: fade-in linear;
  animation-timeline: scroll();
}

.title-statement {
  font-size: 2rem;
  font-weight: 500;
  max-width: 40rem;
}

.social-media-links {
  display: block;
  transition-delay: 1000ms !important;
}

.p1 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #0202ab;
  letter-spacing: 0.05em;
}

.gradient {
  font-size: 5rem;
  font-weight: 800;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.t1 {
  background-image: linear-gradient(to bottom right, #d100d1, #a100f2, #2d00f7);
}

.t2 {
  background-image: linear-gradient(to bottom right, #a100f2, #2d00f7, #d100d1);
}
.gradient::before {
  color: $clr-neutral-900;
  position: absolute;
}

.t1::before {
  content: "Pravin";
  animation: gradient-background-1 8s infinite;
}
.t2::before {
  content: "Mane.";
  animation: gradient-background-2 8s infinite;
}

@keyframes gradient-background-1 {
  40%,
  70% {
    opacity: 0;
  }
  70%,
  100% {
    opacity: 1;
  }
}
@keyframes gradient-background-2 {
  70%,
  90% {
    opacity: 0;
  }
  0%,
  30% {
    opacity: 1;
  }
}

.name-holder {
  letter-spacing: -0.03em;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.animate {
  transition: opacity 700ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.p1 {
  transition-delay: 600ms !important;
}

.t1,
.t2 {
  transition-delay: 800ms !important;
}

.title-statement {
  transition-delay: 900ms !important;
}

.hero-image {
  transition-delay: 1000ms !important;
}

.fade-up {
  opacity: 0.01;
  transform: translateY(20px);
}

@media (max-width: 480px) {
  .name-holder {
    line-height: 3rem;
    margin: 1.5rem 0;
  }
}

@media (max-width: 900px) {
  .hero-section {
    padding: 1rem;
    flex-flow: column nowrap;
    gap: 0;
  }

  .name-holder {
    flex-wrap: wrap;
  }

  .gradient {
    font-size: 4rem;
  }
  .hero-content {
    order: 2;
  }

  .hero-image {
    order: 1;
    height: 160px;
    width: 160px;
    margin-top: 4rem;
    transition-delay: 500ms !important;
  }

  .title-statement {
    font-size: 1.5rem;
  }
}
