<section class="hero-section">
  <div class="hero-content">
    <h1 class="p1 animate" [ngClass]="{ 'fade-up': isLoading() }">
      Hi, my name is
    </h1>
    <span class="name-holder">
      <h1 class="gradient t1 animate" [ngClass]="{ 'fade-up': isLoading() }">
        Pravin
      </h1>
      <h1 class="gradient t2 animate" [ngClass]="{ 'fade-up': isLoading() }">
        Mane.
      </h1>
    </span>
    <p class="title-statement animate" [ngClass]="{ 'fade-up': isLoading() }">
      I am a full stack software engineer with a strong focus in front-end,
      currently working at
      <a href="https://www.slb.com" target="_blank">slb</a>.
    </p>
    <app-social-links
      class="social-media-links animate"
      [ngClass]="{ 'fade-up': isLoading() }"
    ></app-social-links>
  </div>
  <div class="hero-image-holder animate" [ngClass]="{ 'fade-up': isLoading() }">
    <img
      ngSrc="/assets/profile_image.jpg"
      width="200"
      height="200"
      class="hero-image"
      ngSrcset="100w, 200w, 300w"
      priority
    />
  </div>
</section>
